<section class="sh-form-container">
  <h4 mat-dialog-title>{{ form.value.id ? 'Editar Libro' : 'Nuevo Libro' }}</h4>
  <form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Año</mat-label>
      <input type="number" matInput formControlName="anio" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Autor</mat-label>
      <mat-select formControlName="idAutor">
        <mat-option *ngFor="let autor of authors$ | async" [value]="autor.id">
          {{ autor.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="publicado" style="width: 100%">
      Publicado
    </mat-checkbox>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Fecha de Registro</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="fechaRegistro"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ form.value.id ? 'Actualizar' : 'Crear' }}
      </button>
    </div>
  </form>
</section>
