<section class="sh-header">
  <h3>Libros</h3>
  <button mat-raised-button color="primary" (click)="openCreateModal()">
    Nuevo Libro
  </button>
</section>

<mat-form-field appearance="outline" class="is-small" style="min-width: 250px">
  <input
    matInput
    #filterTextBox
    (input)="onFilterTextBoxChanged()"
    placeholder="Filtrar por cualquier campo..."
  />
</mat-form-field>
<ag-grid-angular
  class="ag-theme-alpine"
  style="width: 100%"
  [rowData]="books$ | async"
  [columnDefs]="columnDefs"
  rowSelection="single"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
